h4 Editing Book Title

== render 'form'

.actions.col.s12
	= link_to 'Delete', @book_title, data: {confirm: 'Are you sure?'}, method: :delete, class: "right btn waves-effect waves-teal red btn-small" 
