h4 Teacher's book check and return 

nav
  .nav-wrapper
    .brand-logo style="margin-left: 20px; font-size:1.5em"
      = @teacher.name
    ul.right
      li 
        = link_to 'Done', employee_book_loans_path(@teacher)
  
.card-panel
  .row
    table.compact
      thead
        th Barcode
        th Title 
        th Return status
        th Return date
      tbody#book_loans

javascript:
  $(document).ready(function() {
    var pressed = false;
    var chars = [];    
    $(window).keypress(function(e) {
      if (e.which >= 45 && e.which <= 112) {
          chars.push(String.fromCharCode(e.which));
      }
      if (pressed == false) {
        setTimeout(function(){
          if (chars.length >= 11) {
            var barcode = chars.join("");
            // console.log("Barcode Scanned: " + barcode);
            // assign value to some input (or do whatever you want)
            var field = $("[name$='[barcode]']:last");
            field.val(barcode);
            $.getJSON("/book_copies/"+barcode+".json?empl="+#{@teacher.id}+"&anyyear=t", null, function (data) {
              update_book_loan(data);              
              $("[name$='[barcode]']:last").focus();
            }).fail(function(){
              $(e.target).val('');
              Materialize.toast("Invalid barcode.", 5000, 'red');
            });            
          }
          chars = [];
          pressed = false;
        },500);
      }
      pressed = true;
    });

    var update_book_loan = function (data) {
      var book = data.book_copy;
      var employeeId = book.employee.id;
      var currentUserId = #{raw current_user.try(:id) || 0};
      url = "/employees/"+ employeeId + "/book_loans/" + book.loans.id;
      var dataToSend = new Object();
      var today = new Date();
      dataToSend = { book_loan: { barcode: book.barcode, return_status:'R', 
                                  return_date: today.toISOString(), user_id: currentUserId}};
      var jsonData = JSON.stringify(dataToSend);
      $.ajax({
        type: 'PUT',
        contentType: "application/json; charset=utf-8",
        url: url,
        data: jsonData,
        dataType: 'json',
        success: function(m) {
          Materialize.toast('Book checked', 5000, 'green');
          $("tbody#book_loans").prepend("<tr><td>"+book.barcode+"</td><td>"+book.book_edition.title+"</td><td>Returned</td><td>"+today.toUTCString()+"</td></tr>");
        },
        error: function(e) {
          Materialize.toast('Book check error', 5000, 'red');
        }
      });      
    }
  });
