h4 Editing department

== render 'form'

.actions.col.s12
	= link_to 'Delete', @department, data: {confirm: 'Are you sure?'}, method: :delete, class: "right btn waves-effect waves-teal red btn-small" 


