h4 Edit Grade Level

== render 'form'

.actions.col.s12
	= link_to 'Delete', @grade_level, data: {confirm: 'Are you sure?'}, method: :delete, class: "right btn waves-effect waves-teal red btn-small" 


