// Grays
// -------------------------
$black:                 #06101D;
$grayDarker:            #212121;
$grayDark:              #424242;
$gray:                  #747474;
$light-grey:            #9e9e9e;
$lighter-grey:          #e0e0e0;
$offWhite:              #FAFAFA;
$white:                 #FFF;
$blue:									#2196F3;
$darker-grey:			#292c33;
$dark-grey:				#2d3039;
$brightBlue:			#389bfe;
$muted-red:				#f5494d;
$kuning-podang:	  #e7580b;

$navbar-placeholder-text-color: #666;

.maroon {
	background-color: maroon !important;
}

.show-image {
	width:  120px;
}

.small-text {
	font-size: 10px;
}

.logo-icon {
	height: 50px;
	margin: 6px 6px;
}

.small-logo-icon {
	height: 80px;
	margin: -10px 10px;
}

.label {
	color: $light-grey;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: bold;
}

.container-padding {
	padding: 18px;
}

// ============================================ Table ===============================================
table {
		td.wd3  { width:  3%; }
		td.wd5  { width:  5%; }
		td.wd10 { width: 10%; }
		td.wd12-5 { width: 12.5%; }
		td.wd15 { width: 15%;	}
		td.wd17 { width: 17%;	}
		td.wd20 {	width: 20%;	}
		td.wd25 {	width: 25%;	}
		td.wd30 {	width: 30%;	}
		td.wd35 {	width: 35%;	}
		td.wd40 {	width: 40%;	}
		td.wd45 {	width: 45%;	}
		td.wd50 {	width: 50%;	}
		td.wd55 {	width: 55%;	}
		td.wd60 {	width: 60%;	}
		td.wd65 {	width: 65%;	}
		td.wd70 {	width: 70%;	}
		td.wd75 {	width: 75%;	}
		td.wd80 {	width: 80%;	}
		td.wd85 {	width: 85%;	}
		td.wd90 {	width: 90%;	}
		td.wd95 {	width: 95%;	}
}
table.compact {
	width: 100%;
	// white-space: nowrap;
	// table-layout: fixed;

	td.ellipsize {
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
		white-space: nowrap;
	}
	td {
		padding-top: 4px;
		padding-bottom: 4px;
	}
	
	.ellipsis {
	    position: relative;
	}
	.ellipsis:before {
	    content: '&nbsp;';
	    visibility: hidden;
	}
	.ellipsis span {
	    position: absolute;
	    left: 0;
	    right: 0;
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	}

	thead {
		tr.compact-row {
			th {
				padding-top: 2px;
				padding-bottom: 2px;
			}
		}
	}	
	// td {
	// 	.compact-cell {
	// 		position: relative;
	// 	}
	// 	.compact-cell:before {
	// 		content: attr(data-spacer);
	//     position: absolute;
	//     max-width: 100%;
	//     white-space: nowrap;
	//     overflow: hidden;
	//     text-overflow: ellipsis;
	// 	}
	// 	.compact-cell:after {
	// 	    content: attr(data-spacer);
	// 	    display: inline-block;
	// 	    height: 0;
	// 	    overflow: hidden;
	// 	}
	// 	.dont-truncate {
	// 	    white-space: nowrap;
	// 	}
	// 	.content {
	// 		position: absolute;
	//     max-width: 100%;
	//     white-space: nowrap;
	//     overflow: hidden;
	//     text-overflow: ellipsis;
	// 	}
	// 	.spacer {
	//     height: 0;
	//     overflow: hidden;
	// 	}
	// }
}

td.actions {
	a {
		padding-right: 0 15px;
	}
}
table.medium {
	font-size: 0.9rem;
}
.table-title {
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
}
tr.header-shade {
	td {
		border-radius: 0;
		color: #9e9e9e;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
		p {
			color: $dark-grey;
			margin: 0;
		}
	}
	background-color:$lighter-grey;
}



// ========================================= Template  ==============================================

.template {
	td, th {
		padding: 0
	}

	table.template-body {
		 font-size:16px;
	}
}

// ============================================ Forms ===============================================


.actions {
	button, a {
		margin-right: 10px;
	}
}

// Override Materializecss default form formatting
form {
	input[type=text], input[type=password], input[type=email], input[type=url], input[type=time],
	input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search],
	textarea.materialize-textarea, .select-wrapper input[type=text] {
		height: 2.3rem;
		margin: 0 0 10px 0;
	}

	select.materialish {
		display: block;
    height: 2.3rem;
	  line-height: 3rem;
		margin: 0 0 9px 0;
    padding: 0;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
		border-radius: 0px;
    outline: none;   
    width: 100%;
    font-size: 1rem;
	}

	// i, em {
	// 	font-size: 0.8rem;
	// 	color: #9e9e9e;
	// }

	.cover-selection {
		[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
			height: 40px;
		}
		.input-field {
			margin-top: 0px;
		}
	}

	.header {
		font-weight: bold;
	}

	.compact {
		margin-bottom: 2px;
		.input-field {
			margin-top: 0px;
		}
	}

}

#error_explanation {
	margin: 0.5rem 0 1rem 0;
    background-color: #ef9a9a;
    transition: box-shadow .25s;
    border-radius: 2px;
    padding: 12px;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    h2 {
    	font-size: 20px;
    	margin: 6px 0 6px;
    }
    ul {
    	padding: 0px 10px 0px 20px;
    	li {
    		list-style-type: disc;
    	}
	}
}

.section-header {
	font-size: 1.1rem;
	font-weight: bold;
  text-transform: uppercase;
}

.tabular-header {
	font-size: 0.9rem;
	font-weight: bold;
  text-transform: uppercase;
	color: $light-grey;
}

.select-input {
	position: relative;
	cursor: pointer;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #9e9e9e;
	outline: none;
	height: 3rem;
	line-height: 3rem;
	width: 100%;
	font-size: 1rem;
	margin: 0 0 15px 0;
	padding: 0;
	display: block;
}

button {
	i.material-icons {
		line-height: 36px !important;
	}
}

button.delete-button {
	color: $muted-red;
	background-color: $lighter-grey;
}

button.delete-button :hover {
	background-color: $light-grey;
}

.small-radio-label {
  font-size:0.8rem !important;
  padding-left: 0px !important;
  padding-top:20px !important;
}

.dropdown-content {
	li {
		input[type="submit"] {
			background-color: transparent;
			border: none;
			padding: 0.2rem 1rem;
			font-size: 1rem;
			color: #e7580b;
		}
		button[type="submit"] {
			background-color: transparent;
			border: none;
			padding: 0.2rem 1rem;
			font-size: 1rem;
			color: #e7580b;
		}
	}
}

// ========================================= Typography =============================================

.giant-letter {
	font-size: 3rem;
}

span.box {
  background-color: #039be5;
  border-radius: 4px;
  color: whitesmoke;
  min-width: 3rem;
  padding: 3px 15px;
}

h6 {
	font-size: 1.4rem;
  font-style: italic;
}

.large-letter {
	font-size: 1.6rem;
}

.cb-label {
	font-size: 1rem;
	line-height: 0.7rem;
	color: #eee;
}

// ============================================ Buttons =============================================

.btn-small {
	height: 24px;
	line-height: 26px;
	font-size: 12px;
	width: 113px;
	margin: 2px;
}

// ============================================= Navbar =============================================

nav {
	background-color: $dark-grey;
	ul {
		li {
			a {
				&:hover {
					background-color: rgba(0,0,0,.3);
				}
				height: 54px;
				img { padding-top: 10px }
			}
		}
	}
	ul.dropdown-content { 
    a { 
      height: 27px; 
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    //width: 100% !important;
	}
	img.left { margin-right: 15px; }

	.nav-heading {
		position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 1.5rem;
    padding: 0 0 0 10px;
    white-space: nowrap;
	}
	.nav-wrapper {
		ul {
			li {
				button {
					margin: 0 15px;
				}
				a.btn {
					i {
						margin-top: -14px;
					}
				}
			}
		}
		i {
	    height: 56px;
	    line-height: 52px;
		}
	}
	.input-field {
		padding: 0 15px;
		input {
			border-bottom: 2px dotted gray;
			width: 85%;
			&:focus, &[type=text]:valid, &[type=password]:valid,
      &[type=email]:valid, &[type=url]:valid, &[type=date]:valid {
        border-bottom: 2px dotted gray;
      }
		}
		label {
			color: white;
		}
	}

	.select-wrapper {
		span.caret {
			color: white;
			top: 0px;
			font-size: 1rem;
		}
		input.select-dropdown {
			border-bottom: none;
			margin: 0px;
			text-align: center;
			height: 54px;
		}
	}

	.input-field {
		i.active {
			color: $blue !important;
		}
		input[type=search] {
			display: block;
			line-height: inherit;
			padding-left: 2.5rem;
			width: calc(100% - 2.5rem);
		}
	}

	::-webkit-input-placeholder {
		color: $navbar-placeholder-text-color;
	}

	:-moz-placeholder { /* Firefox 18- */
		color: $navbar-placeholder-text-color;
	}

	::-moz-placeholder {  /* Firefox 19+ */
		color: $navbar-placeholder-text-color;
	}

	:-ms-input-placeholder {
		color: $navbar-placeholder-text-color;
	}
}

nav ul a.btn, nav ul a.btn-large, nav ul a.btn-large, nav ul a.btn-flat,
nav ul a.btn-floating {
    margin-top: -2px;
    margin-left: 15px;
    margin-right: 15px
}

@media only screen and (min-width: 601px) {
	nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 54px;
    line-height: 54px;
	}
}

.dropdown-content {
	li {
		& > a, & > span {
			font-size: 1rem;
			padding: 0.2rem 1rem;
		}
	}
}

// ============================================ Toolbar =============================================

.toolbar {
	margin: 10px 0px;
	padding: 6px 20px;
	height: 50px;
	border-top: 1px solid $lighter-grey;
	background-color: white;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

	// i.material-icons {
	// 	color: $gray;
	// 	margin-left: 6px;
	// 	font-size: 2.2rem;
	// }

	h5 {
		margin: 0.3em 0 0 0;
	}

	.btn {
		margin-left: 6px;
	}

	.input-field {
		margin-top: 0;
	}
	#context-buttons {
		display: none;
		float: left;
	}

	select {
		height: 2.5rem;
	}

	label.for-select {
		top: 0.6rem;
	}
	.select-grade {
		position: absolute;
		left: 5rem;
		width: 4rem;
	}

	.pagination {
		margin-top: 4px;
		.current {
		  color: #fff;
			background-color: $kuning-podang;
		}
		.previous_page, .next_page {
			font-weight: bold;
		}
	}
	.notes {
		padding-top: 6px;
	}
}

//

body {
	display: -webkit-flex;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    -webkit-flex-direction: column;
}

main {
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.main-home {
	background-color: $lighter-grey
}

.user-avatar {
	margin-top: 6px;
}

.right-in-header {
	float: right !important;
	position: relative;
  margin: -10px 10px 0px 0;
}

// ============================================ Side Menu ===========================================

ul.side-nav.fixed {
	background-color: #292c33
}

ul.side-nav.fixed li.logo {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px
}

ul.side-nav.fixed li.logo:hover {
    background-color: transparent
}

ul.side-nav.fixed {
    overflow: hidden
}

ul.side-nav.fixed li {
    line-height: 44px
}

ul.side-nav.fixed li:hover, ul.side-nav.fixed li.active {
    background-color: rgba(0, 0, 0, 0.05)
}

ul.side-nav.fixed li a {
    font-size: 13px;
    line-height: 44px;
    height: 44px
}

ul.side-nav.fixed ul.collapsible-accordion {
    background-color:  $darker-grey;
}

ul.side-nav.fixed li.logo {
	background-color: $darker-grey;
}

ul.side-nav.fixed .collapsible-header {
	background-color: $darker-grey;
	color: $lighter-grey;
	border: none;
	padding-right: 0;
	margin: 0;
}

ul.side-nav.fixed .collapsible-body {
	display: block;
	padding: 0px;
	background-color: $dark-grey;
	border: none;
	line-height: 38px;
	a {
		color: $light-grey;
		margin: 0 1rem 0 2rem;
	}

	ul {
		li.active {
			background-color: $dark-grey;
			border-left: 4px solid $muted-red;
		}
	}
}

ul.side-nav.fixed:hover {
    overflow-y: auto
}

ul {
	li {
		.user-profile {
			height: 60px !important;
			line-height: 60px !important;
			padding-left: 0px !important;
			.name {
				padding-left: 10px;
				color: $light-grey;
			}
		}
	}
}

.app-side-menu {
	position: fixed;
	width: 240px;
	left: 0px;
	z-index: 999;
	height: 100%;
	background-color: $darker-grey;
	color: $light-grey;

	.collapsible {
		border: none;
	}

	ul li {
		.collapsible-header {
			background-color: $darker-grey;
			color: $lighter-grey;
			font-weight: bold;
			border: none;
			padding-right: 0;
		}
		.collapsible-body {
			display: block;
			padding: 0px;
			background-color: $darker-grey;
			border: none;
			line-height: 38px;
			a {
				color: $light-grey;
				margin: 0 1rem 0 2rem;
			}

			ul {
				li.active {
					background-color: $dark-grey;
					border-left: 4px solid $muted-red;
				}
			}
		}

		.center {
			text-align: center;
		}

	}

	.btn {
		margin: 5px 5px;
	}

	ul {
		margin: 0px;
		height: 100%;
		background-color: $darker-grey;
	}
}

// ============================================ Book List ===========================================


.list_image {
	width:  128px;
	margin-right: 20px;
	margin-left: 10px;
}

.list_description {
	dl {
		margin: 0;		
	}
	dl.compact {
		dd {
			margin: 2px 0;
			.item {
				font-size: 12px;
			}
			.label {
				font-size: 12px;
			}
		}
	}

	dt {
		color:		 #244;
		font-weight: bold;
		font-size:   larger;
	}

	dd {
		margin: 8px 0;
	}

	.label {
		font-size: 0.8rem;
		color: #9e9e9e;
	}

	span.label {
		padding-right: 5px;
	}
	span.item {
		margin-right: 10px;
	}

	.isbn {
		span.item {
			color: $light-grey;
		}
	}
}

.list_actions {
	font-size:    x-small;
	text-align:   right;
	padding-left: 1em;

	a {
		margin: 3px;
		width:  70px;
	}
}

.list_line_even {
	background:   #4FC1E9;
}

.list_line_odd {
	background:   #3BAFDA;
}


.pagination {
	a {
	    display: inline-block;
	    font-size: 1rem;
	    padding: 0 10px;
	    line-height: 30px;
	    border-radius: 2px;
	    text-align: center;
	}
	.current {
		background-color: #ee6e73;
		display: inline-block;
	    font-size: 1rem;
	    padding: 0 10px;
	    line-height: 30px;
	    border-radius: 2px;
	}
}

.copies {
	min-width: 1rem;
	max-width: 3rem;
	padding: 0 6px;
	text-align: center;
	line-height: inherit;
	color: white;
	border-radius: 4px;
	background-color: $blue;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
 
// =========================================== Carpool =========================================
.carpool {
	.entry-wrapper {
    // border-collapse: collapse;
    // text-align: center;	

		.entry {			
			//font-size: 2.5rem;
			border-radius: 4px;
			text-align: center;		
		
			.done-wrapper {
				display: inline-block;
				float: left;
				width: 70px;
				border-radius: 5px 0 0 5px;
			}
			.middle-wrapper {
				display: inline-block;
				height: 70px;
				vertical-align: middle;
				a {
					font-size: 4.3em;
					font-weight: bold;
					line-height: 1.4em;
				}
			}
			.wait-wrapper {
				display: inline-block;
				float: right;
				width: 70px;
				border-radius: 0 5px 5px 0;
			}

			.input-field label {
				top: 10px;
			}
		}		
	}

	ul {
		li {  
			padding: 8px; 
			float: left; 
			height: 90px; 
		}
	}
	
	.ready {
		background-color: $blue;
	}
	.leaving {
		background-color: #e6312c;
	}
	.loading {
		background-color: #43d218;
	}
	.waiting {
		background-color: #f8af2a;
	}
	.done {
		background-color: grey;
	}

	// --- Tab bar for Carpool 
	.tabs {
		// position: fixed;
    // top: 64px;
    z-index: 997;
	}

	.tab-content {
		margin-top: 30px;
	}
}

.wait-pax {
	font-size: 1.5rem;
}

.pax-entry {
	margin-bottom: 5px;
}

@media only screen and (min-width: 0px) {
	.carpool {
		nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
			height: 54px;
			line-height: 54px;
		}		
	}
}

@media only screen and (min-width: 601px) {
	.carpool {
		.entry-wrapper {
			.entry {			
				border-radius: 4px;

				.middle-wrapper {
					height: 80px;
					a {
						font-size: 4.3em;
						font-weight: bold;
						line-height: 1.4em;
					}
				}
			}		
		}
		ul {
			li {  
				height: 90px; 
			}
		}
	}
}

@media only screen and (min-width: 993px) {
	.carpool {
		.reorder-button { display: none };
		.entry-wrapper {
			.entry {			
				border-radius: 4px;
				.done-wrapper { display: none };
				.wait-wrapper { display: none };
				.middle-wrapper {
					height: 230px;
					a {
						font-size: 15em;
						font-weight: bold;
						line-height: 1.0em;
					}
				}
			}		
		}
		ul {
			li {  
				height: 250px; 
			}
		}

		ul#shuttle-cars {
			li { height: 190px }
			.entry-wrapper {
				width: 16.66% !important;
			}
			.done-wrapper { display: none };
			.wait-wrapper { display: none };
			.middle-wrapper {
				height: 170px;
				a {
					font-size: 12em;
					font-weight: bold;
					line-height: 1.0em;
				}
			}
		}
	}
}

.big-chip {
	background-color: $kuning-podang;
	height: 40px;
	border-radius: 20px;
	padding: 2px 5px;
	text-align: center;
	width: 150px;
	font-size: 28px;
	color: white;
	line-height: 37px;
}

.smart-card-entry {
	height: 50px;
	width: 200px;
	border: 1px black;
	border-radius: 4px;
	background-color: lightgrey;
	padding: 7px 7px 2px 10px;
	float: left;
	margin-right: 20px;
  margin-top: 10px;

	.code {
		width: 140px;
		float: left;
	}

	.trash {
		width: 30px;
		float: right;
		margin-top: 3px;
	}
}

// ============================================ Tabs ===========================================

.tabbed {
	.col {
		padding-top: 10px;
	}
}

.tab-content {
	padding: 15px;
}

// ============================================ Layout ===========================================


body {
  background-color: #fcfcfc;
}
#main,
footer {
  padding-left: 240px;
	.copyright {
		line-height: 1em;
		padding: 1rem 1rem;
	}
}

@media only screen and (max-width: 993px) {
  #main,
  footer {
    padding-left: 0px;
  }
}

#input-select .input-field label {
  position: absolute;
  top: -14px;
  font-size: 0.8rem;
}
#sidenav-overlay {
  background-color: transparent;
}
.container {
  padding: 0 0.5rem;
  margin: 0 auto;
  max-width: 100% !important;
  width: 98%;
}

section {
	padding: 0.75rem;
}

.zero-margin {
  margin: 0 !important;
}

.zero-padding {
  padding: 0 !important;
}

.with-side-padding {
	padding: 0 20px;
}

.ellipsis-container {
	margin: 0;
	padding: 5px 0;
	white-space: nowrap;
	.ellipsize {
		overflow:hidden;
		text-overflow: ellipsis;
	}
}

// For PDF forms
.page-break { display:block; clear:both; page-break-after:always; }

// ============================================ Print ===========================================

@media print {
	header, footer, nav  {
		display:none
	}
	#main {
		padding-left: 0;
	}
	html, body {
		font: 10pt "Cambria", Arial, sans-serif;
		line-height: 1.1;
	}
	.card, .card-panel {
		border: 0 0 1px 0;
		box-shadow: none;
		padding: 0;
	}
	h5, h6 {
		font-size: 1.2rem;
	}
	h4 {
		font-size: 1.4rem;
	}
}

// ============================================ Card ===========================================


.card.book-info {
	height: 370px;
	position: relative;

	.card-image {
		height: 250px;
		overflow: hidden;
	}
	.book-title {
		margin: 0 5px;
		font-size: large;
		font-weight: 300;
		color: #424242 !important;
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	i.material-icons {
		margin-right: 10px;
	}

	.card-action {
		.row {
			margin-bottom: 0;
		}

		a {
			margin: 0 5px;
		}
		i.material-icons {
			margin-right: 10px;
		}
		button {
			margin: 0 1em;
		}
	}
}

// ============================================ Left Sidebar ===========================================


#slide-out li a i {
  line-height: inherit;
  width: 2rem;
  font-size: 1.6rem;
  display: block;
  float: left;
  text-align: center;
  margin-right: 1rem;
}

// ul.side-nav.leftside-navigation {
//   top: 64px;
// }

a.sidebar-collapse {
  position: absolute;
  left: 14px;
  top: 14px;

  i {
  	line-height: 37px;
  }
}

// ============================================ Login Page ===========================================

.login-form {
  // width: 310px;
}
.login-form-text{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
}
.profile-image-login{
  width: 100px;
  height: 100px !important;
}

// ======================================== Barby barcode  ==========================================
table.barby-barcode {
	border-spacing: 0;
}
tr.barby-row {}
td.barby-cell {
	width: 2px; height: 20px;
	padding: 0px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}
td.barby-cell.on { background: #000; }

// ============================================ jQuery UI ===========================================
.ui-widget {
	font-family: Roboto, Arial, sans-serif;
	font-size: 1em;
}

.ui-autocomplete {
	width:  480px;
	font-family: Roboto, Arial, sans-serif;
	font-size: 1em;
    max-height: 350px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}

.ui-front {
	height: 480px;
}

.vmiddle {vertical-align: middle}


.t_receipt_border {
    border-style: solid;
    border-width: thin;
    margin: 0 px;
    border-color: black;
    padding: 0.3%;
    font-size: 12px;
}

.ui-state-default {
	border: none;
	background: none;
}

.ui-state-highlight { 
	height: 70px; 
	background: pink;
}

@media only screen and (min-width: 0px) {
	.ui-state-highlight { 
		width: 100%;
		margin-left: 0;
	}	
}

@media only screen and (min-width: 601px) {
	.ui-state-highlight { 
		width: 50%;
		margin-left: 0;
	}	
}

@media only screen and (min-width: 993px) {
	.ui-state-highlight { 
		width: 25%;
		margin-left: 0;
	}	
}

.drag-handle i {
	line-height: 1.7em;
	font-size: 2.9em;
}

.ui-autocomplete {
	max-height: 300px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}
* html .ui-autocomplete {
	height: 100px;
}
.ui-autocomplete-loading {
	und: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
}
