// Grays
// -------------------------
$black:                 #06101D;
$grayDarker:            #212121;
$grayDark:              #424242;
$gray:                  #747474;
$grayLight:             #9e9e9e;
$grayLighter:           #e0e0e0;
$offWhite:              #FAFAFA;
$white:                 #FFF;


.show-image {
	width:  120px;
}

.small-text {
	font-size: 10px;
}

.logo-icon {
	height: 50px;
	margin: 6px 6px;
}

// ============================================ Forms ===============================================


.actions {
	button, a {
		margin-right: 10px;
	}
}

// Override Materializecss default form formatting
form {
	input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], 
	input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], 
	textarea.materialize-textarea, .select-wrapper input[type=text] {
		height: 2.3rem;
		margin: 0 0 10px 0;
	}

	i, em {
		font-size: 0.8rem;
		color: #9e9e9e;
	}

	.cover-selection {
		[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
			height: 40px;
		}
		.input-field {
			margin-top: 0px;
		}
	}

}

#error_explanation {
	margin: 0.5rem 0 1rem 0;
    background-color: #ef9a9a;
    transition: box-shadow .25s;
    border-radius: 2px;
    padding: 12px;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    h2 {
    	font-size: 20px;
    	margin: 6px 0 6px;
    }
    ul {
    	padding: 0px 10px 0px 20px;
    	li {
    		list-style-type: disc;
    	}
	}
}



// ============================================ Buttons =============================================

.btn-small {
	height: 24px;
	line-height: 26px;
	font-size: 12px;
	width: 113px;
	margin: 2px;
}

// ============================================ Toolbar =============================================

.toolbar {
	margin: 10px 0px;
	padding: 6px 20px;
	height: 50px;
	border-top: 1px solid $grayLighter;

	i.material-icons {
		color: $gray;
		margin-left: 6px;
		font-size: 2.2rem;
	}

	.btn {
		margin-left: 6px;
	}

	.input-field {
		margin-top: 0;
	}
	#context-buttons {
		display: none;
		float: left;
	}
}

// 

body {
	display: -webkit-flex;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    -webkit-flex-direction: column;
}

main {
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.main-home {
	background-color: $grayLighter
}

.user-avatar {
	margin-top: 6px;
}

// ============================================ Side Menu ===========================================
.app-side-menu {
	margin-top: 1.14rem;

	ul li {
		.collapsible-header {
			background-color: #eeeeee;
			color: $grayDark;
		}
		.collapsible-body {
			padding: 10px 20px 10px 20px;			
		}

		.center {
			text-align: center;
		}
	}
}

// ============================================ Book List ===========================================


.list_image {
	width:  128px;
}

.list_description {
	dl {
		margin: 0;
	}

	dt {
		color:		 #244;
		font-weight: bold;
		font-size:   larger;
	}

	dd {
		margin: 0;
	}

	.label {
		font-size: 0.8rem;
		color: #9e9e9e;
	}

	span.label {
		padding-right: 5px;
	}
	span.item {
		margin-right: 10px;
	}

	.isbn {
		span.item {
			color: $grayLight;
		}
	}
}

.list_actions {
	font-size:    x-small;
	text-align:   right;
	padding-left: 1em;

	a {
		margin: 3px;
		width:  70px;
	}
}

.list_line_even {
	background:   #4FC1E9;
}

.list_line_odd {
	background:   #3BAFDA;
}


.pagination {
	a {
	    display: inline-block;
	    font-size: 1rem;
	    padding: 0 10px;
	    line-height: 30px;
	    border-radius: 2px;
	    text-align: center;
	}
	.current {
		background-color: #ee6e73;
		display: inline-block;
	    font-size: 1rem;
	    padding: 0 10px;
	    line-height: 30px;
	    border-radius: 2px;
	}
}


.tabbed {
	.col {
		padding-top: 10px;
	}
}