// Grays
// -------------------------
$black:                 #06101D;
$grayDarker:            #171F2D;
$grayDark:              #242C41;
$gray:                  #474F64;
$grayLight:             #757E88;
$grayLighter:           #CED2CB;
$offWhite:              #FAFAFA;
$white:                 #FFF;


.show-image {
	width:  120px;
}

.small-text {
	font-size: 10px;
}

.logo-icon {
	height: 50px;
}

// ============================================ Forms ===============================================


.actions {
	button, a {
		margin-right: 10px;
	}
}

// ============================================ Buttons =============================================

.btn-small {
	height: 24px;
	line-height: 26px;
	font-size: 12px;
}

// ============================================ Toolbar =============================================

.toolbar {
	margin: 10px 0px;
	padding: 5px 0px;
	border-top: 1px solid $grayLighter;
}

// 

body {
	display: -webkit-flex;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    -webkit-flex-direction: column;
}

main {
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.main-home {
	background-color: $grayLighter
}


// ============================================ Book List ===========================================


.list_image {
	width:  128px;
}

.list_description {
	dl {
		margin: 0;
	}

	dt {
		color:		 #244;
		font-weight: bold;
		font-size:   larger;
	}

	dd {
		margin: 0;
	}

	.label {
		font-size: 0.8rem;
		color: #9e9e9e;
	}

	.item {
		
	}
}

.list_actions {
	font-size:    x-small;
	text-align:   right;
	padding-left: 1em;

	a {
		margin: 3px;
		width:  70px;
	}
}

.list_line_even {
	background:   #4FC1E9;
}

.list_line_odd {
	background:   #3BAFDA;
}

